*.pyc
*.sqlite3
__pycache__/
env/
invoiceapp/assets/css/bootstrap-grid.css
invoiceapp/assets/css/bootstrap-grid.css.map
invoiceapp/assets/css/bootstrap-reboot.css
invoiceapp/assets/css/bootstrap-reboot.css.map
invoiceapp/assets/css/bootstrap-reboot.min.css
invoiceapp/assets/css/bootstrap-reboot.min.css.map
invoiceapp/assets/css/bootstrap.css
invoiceapp/assets/css/bootstrap.css.map
invoiceapp/assets/js/bootstrap.bundle.js
invoiceapp/assets/js/bootstrap.bundle.js.map
invoiceapp/assets/js/bootstrap.bundle.min.js
invoiceapp/assets/js/bootstrap.bundle.min.js.map
invoiceapp/assets/js/bootstrap.js
local_settings.py
