{% extends 'base.html' %}

{% block title %} Create Invoice {% endblock %}

{% block content %}
<div class="create_invoice">
    {% if form.errors %}
    {{inv_form.non_field_errors}}
    {% endif %}
    <form method="POST" action="{% url 'create-invoice'%}" novalidate="" id='create-invoice'>
    <!-- Invoice Form -->
        <!-- Invoice Number -->
        <div class="form-group row">
            {% csrf_token %}
            <label for="{{inv_form.invoice_number.id_for_label}}"> Invoice Number </label>
            {{form.invoice_number}}
            <div class="red">{{form.invoice_number.errors}}</div>
        </div>
        <!-- Invoice Description -->
        <div class="form-group row">
            <label for="{{form.invoice_description.id_for_label}}"> Invoice Description </label>
            {{form.invoice_description}}
            <div class="red">{{form.invoice_description.errors}}</div>
        </div>
        <!-- Invoice Company -->
        <div class="form-group row">
            <label for="{{form.client.id_for_label}}"> Bill To </label>
            {{form.company}}
            <div class="red">{{form.company.errors}}</div>
        </div>
        <!-- Payment Status -->
        <div class="form-group row">
            <label> Payment Status </label>
            {{form.payment_status}}
            <div class="red">{{form.payment_status.errors}}</div>
        </div>
        <!-- Invoice Dates --><!-- Dates -->
        <div class="row">
            <label> Dates </label>
            <div class ='col'>
                {{form.invoice_date}}
                <div class="red">{{form.invoice_date.errors}}</div>
            </div>
            <label> Due Date </label>
            <div class="col">
                {{form.due_date}}
                <div class="red">{{form.due_date.errors}}</div>
            </div>
        </div>
        <!-- Order Type -->
        <div class="form-group row">
            <label> Order Type </label>
            {{form.order_type}}
        </div>
         <button type="button" class="btn btn-primary btn-sm" id="add-order" data-url="{% url 'item-form' %}">Add Order</button>
        <span type="hidden" name="orders" id="orders"> </span>
        <button id="add-invoice" type="submit" class="btn btn-primary">Create</button>
    </form>
           <!-- Item Form -->
        <div id="myform"></div>
</div>

{% endblock %}
