{% extends 'base.html' %}

{% block title %} Create Invoice {% endblock %}

{% block content %}
<div class="create_invoice">
    {% if form.errors %}
    {{inv_form.non_field_errors}}
    {{itm_form.non_field_errors}}
    {% endif %}
    <form method="POST" action="{% url 'create-invoice'%}" novalidate="">
        <!-- Invoice Form -->
        <div class="form-group row">
            {% csrf_token %}
            <label for="{{inv_form.invoice_number.id_for_label}}"> Invoice Number </label>
            {{inv_form.invoice_number}}
            <div class="red">{{inv_form.invoice_number.errors}}</div><!-- Invoice Number -->
        </div>
        <div class="form-group row">
            <label for="{{inv_form.invoice_description.id_for_label}}"> Invoice Description </label>
            {{inv_form.invoice_description}}
            <div class="red">{{inv_form.invoice_description.errors}}</div><!-- Invoice Description -->
        </div>
        <div class="form-group row">
            <label for="{{inv_form.client.id_for_label}}"> Bill To </label>
            {{inv_form.company}}
            <div class="red">{{inv_form.company.errors}}</div><!-- Invoice Company -->
        </div>
        <div class="form-group row">
            <label> Payment Status </label>
            {{inv_form.payment_status}}
            <div class="red">{{inv_form.payment_status.errors}}</div><!-- Payment Status -->
        </div>
        <div class="row">
            <label> Dates </label>
            <div class ='col'>
                {{inv_form.invoice_date}}
                <div class="red">{{inv_form.invoice_date.errors}}</div>
            </div>
            <label> Due Date </label>
            <div class="col">
                {{inv_form.due_date}}
                <div class="red">{{inv_form.due_date.errors}}</div>
            </div><!-- Invoice Dates --><!-- Dates -->
        </div>
        <div class="form-group row">
            <label> Payment Status </label>
            {{itm_form.item_type}}
        </div>
        <div id="myform"></div>
        <button type="button" class="btn btn-primary btn-sm" id="add-order" data-url="{% url 'item-form' %}">Add Order</button>
        <!-- Item Form -->
        <input type="hidden" name="orders">

        <button id="add-invoice" type="button" class="btn btn-primary">Create</button>
    </form>
</div>

{% endblock %}
