{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Client</th>
      <th scope="col">Invoice Number</th>
      <th scope="col">Due Date</th>
      <th scope="col">Payment Status</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
     {% for index in invoice %}
    <tr>
        <td>{{index.company}}</td>
        <td>{{index.invoice_number}}</td>
        <td>{{index.due_date}}</td>
        <td>{{index.payment_status}}</td>
        <td>${{index.total}}</td>
    </tr>
        {% endfor %}
  </tbody>
</table>
{% endblock %}
