{% extends 'base.html' %}

{% block title %} Invoice Detail {% endblock %}

{% block content %}
<div class="myfont">
    <div class="section1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    Invoice Number
                    <div class="col-lg-6"> INVOICE NI SIYA{{invoice.invoice_number}} </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Invoice Description
                    <div> {{invoice.invoice_description}} </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                Bill to
                <div>{{invoice.company}}</div>
                Payment Status
                <div> {{invoice.payment_status}} </div>
                Date
                <div> {{invoice.invoice_date}} </div>
                Due Date
                <div> {{invoice.due_date}} </div>
            </div>
        </div>
    </section>
    <div> Order Summary </div>
    Order Type
    <div> {{invoice.order_type}} </div>
    {% for i in item %}
    <div> {{i.order_number}} </div>
    Order Description
    <div> {{i.order_description}} </div>
    Order Date
    <div> {{i.order_date}} </div>
    End date
    <div> {{i.end_date}} </div>
    {% if i.item_type == 'fixed' %}
    Amount
    <div> {{i.amount}} </div>
    {% endif %}
    {% if i.item_type == 'hourly' %}
    Rate
    <div> {{i.rate}} </div>
    Total Hours
    <div> {{i.total_hours}} </div>
    Total Amount
    <div> {{i.total_amount}} </div>
    {% endif %}
    Remarks
    <div> {{i.remarks}} </div>
    {% endfor %}
    <a href="{% url 'update-invoice' invoice.id %}"> Update </a>
</div>
{% endblock %}
