{% extends 'base.html' %}

{% block title %} Update Invoice {% endblock %}

{% block content %}
<div class="myfont rectangle section-margin">
    {% if form.errors %}
    {{form.non_field_errors}}
    {% endif %}
    <form method="POST" action="{% url 'update-invoice' invoice.id %}" novalidate="" id='update-invoice'">
        <!-- Invoice Form -->
        <!-- Invoice Number -->
        <div class="section1">
            <div class="container">
                <div class="form-group row">
                    <div class="col-xl-4 section-align">
                        {% csrf_token %}
                        <label for="{{form.invoice_number.id_for_label}}"> Invoice Number </label>
                        {{form.invoice_number}}
                        <div class="red">{{form.invoice_number.errors}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Invoice Description -->
        <div class="section2">
            <div class="container">
                <div class="form-group row">
                    <div class="col-xl-12">
                        <label for="{{form.invoice_description.id_for_label}}"> Invoice Description </label>
                        {{form.invoice_description}}
                        <div class="red">{{form.invoice_description.errors}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Invoice Company -->
        <div class="section3">
            <div class="container">
                <div class="form-group row">
                    <div class="col-xl-4">
                        <label for="{{form.client.id_for_label}}"> Bill To </label>
                        {{form.company}}
                        <div class="red">{{form.company.errors}}</div>
                    </div>
                    <div class="col-xl-4">
                        <label> Order Type </label>
                        {{form.order_type}}
                        {{form.order_type.errors}}
                    </div>
                    <!-- Payment Status -->
                    <div class="col-xl-4">
                        <label> Payment Status </label>
                        {{form.payment_status}}
                        <div class="red">{{form.payment_status.errors}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Invoice Dates --><!-- Dates -->
        <div class="section4">
            <div class="container">
                <label> Dates </label>
                <div class="form-group row">
                    <div class="col-xl-6">
                        <div>{{form.invoice_date}}</div>
                        <div class="red">{{form.invoice_date.errors}}</div>
                    </div>
                    <div class="col-xl-6">
                        <div> Due Date: {{form.due_date}} </div>
                        <div class="red">{{form.due_date.errors}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section7">
            <div class="container">
                <div class="form-group row">
                    <div class="col-xl-4">
                        <label> Subtotal </label>
                        {{form.subtotal}}
                        {{form.subtotal.errors}}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xl-4">
                        <label> Less </label>
                        {{form.less}}
                        {{form.less.errors}}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xl-4">
                        <label> Total </label>
                        {{form.total}}
                        {{form.total.errors}}
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- Item Form -->
    {% for i in item_form %}
    <form class="item-form" id="itemform">
        <div class="card mb-3">
         <div class="card-body text-dark">
          <!-- Order Number -->
          {{i.id}} <!-- Hidden Input/Item Id -->
          <div class="section1">
            <div class="container">
                <div class="form-group row">
                    <div class="col-xl-3">
                        <label> Order Number </label>
                        {{i.order_number}}
                        <div class="red">{{i.order_number.errors}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section2">
            <div class="container">
                <div class="form-group row">
                    <div class="col-xl-6">
                        <label>Order Description</label>
                        {{i.order_description}}
                        <div class="red">{{i.order_description.errors}}</div>
                    </div>
                    <div class="col-xl-6">
                        <label>Order Type</label>
                        {{i.item_type}}
                        <div class="red">{{i.item_type.errors}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section3">
            <div class="container">
                <label> Duration </label>
                <div class="form-group row">
                    <div class="col-xl-3">
                        {{i.order_date}}
                        <div class="red">{{i.order_date.errors}}</div>
                    </div>
                    <div class="col-xl-3">
                        <label> Due Date: </label>
                        {{i.end_date}}
                        <div class="red">{{i.end_date.errors}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Rate, Hours and Total Amount -->
        <div class="section4">
            <div class="container">
                <label> Duration </label>
                <div class="form-group row">
                    <div class="col-xl-4">
                        <label>Rate</label>
                        {{i.rate}}
                        <div class="red">{{i.rate.errors}}</div>
                    </div>
                    <div class="col-xl-4">
                        <label>Hours</label>
                        {{i.total_hours}}
                        <div class="red">{{i.total_hours.errors}}</div>
                    </div>
                    <div class="col-xl-4">
                        <label>Total Amount</label>
                        {{i.total_amount}}
                        <div class="red">{{i.total_amount.errors}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section5">
            <div class="container">
                <div class="form-group row">
                    <div class="col-xl-4">
                        <label>Amount</label>
                        {{i.amount}}
                        <div class="red">{{i.amount.errors}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section6">
            <div class="container">
                <div class="form-group row">
                    <div class="col-xl-12">
                        <label> Remarks(optional) </label>
                        {{i.remarks}}
                        <div class="red">{{i.remarks.errors}}</div>
                    </div>
                </div>
                <div class="col-4">
                    <label>Amount</label>
                    {{i.amount}}
                    <div class="red">{{i.amount.errors}}</div>
                </div>
            </div>
            <div class="form-group row">
                <label> Remarks(optional) </label>
                {{i.remarks}}
                <div class="red">{{i.remarks.errors}}</div>
            </div>
        </div>
    </div>
</div>
</form>
{% endfor %}
 <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <button id="update-button" type="button" class="round-button">Update</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
