*.pyc
*.sqlite3
__pycache__/
/env/
assets/css/bootstrap-grid.css
assets/css/bootstrap-grid.css.map
assets/css/bootstrap-reboot.css
assets/css/bootstrap-reboot.css.map
assets/css/bootstrap-reboot.min.css
assets/css/bootstrap-reboot.min.css.map
assets/css/bootstrap.css
assets/css/bootstrap.css.map
assets/js/bootstrap.bundle.js
assets/js/bootstrap.bundle.js.map
assets/js/bootstrap.bundle.min.js
assets/js/bootstrap.bundle.min.js.map
assets/js/bootstrap.js
local_settings.py
